{% load render_bundle from webpack_loader %}

<!DOCTYPE html>
<html lang="en">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
	
	{% render_bundle 'dashboard' 'css' %}
	

	{# css/normalize.css #}	
	
	{# js/vendor/jquery.easing.min.js #}
	{# js/jquery-save-as-you-type/source/sayt.min.jquery.js #}
	{# js/jquery-save-as-you-type/dependencies/jquery-cookie.js #}
	{# tabcomplete/src/tabcomplete.min.js #}
	<style>
/*	body {
		font-family: Montserrat, arial, verdana;
	}*/
	</style>
	<body>

			{% if not user.passed_setup %}
				{#  Init Resume Setup #}
				{% render_bundle 'setup' %}
				{%block setup %}{%endblock%}
				
			{% else %}
			
				{#  Edit Dashboard #}
				
				{% block content %}{%endblock%}
				
			{% endif %}
	</body>
	{% render_bundle 'dashboard' 'js' %}
</html>
