{% extends "base_dashboard.html" %}
{% block content %} 

	{% url "save_resume" as action_url %}


<html class="no-js">
    <head>
        <meta charset="utf-8">
        <title>Edit Resume</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
		<script>
		$(document).ready(function(){
			var db_tag_list = [];
			 //Makes the tag list from db for tab complete
			{% for tag in tag_list %}
				db_tag_list[{{forloop.counter0}}]="{{tag}}";
				{%if forloop.last%}$('#new_tag_add').tabcomplete(db_tag_list);{%endif%}
			{% endfor %}
			});
		</script>
    </head>
    <body>
    {# <div class="Top">{{ s_user.first_name }} {{ s_user.last_name }}</div> #}
    <div class="Container">
        <div class="Left">
			<a href="#" id="menu-toggle" class="menu-toggle badge menu-x menu-x-close mobile-only visible"><span></span></a>
			<div class="Top-menu">
				<i id="personal" class="fa fa-user activeIcon fa-md"></i>
				<i id="experience" class="fa fa-briefcase fa-md"></i>
				<i id="education" class="fa fa-graduation-cap fa-md"></i>
				<i id="accomplishments" class="fa fa-lightbulb-o fa-lg"></i>
				<i id="skills" class="fa fa-tasks fa-lg"></i>
				<i id="contact" class="fa fa-phone fa-lg"></i>
				<i id="template" class="fa fa-file-image-o fa-md"></i>
				<i id="preview" class="fa fa-eye fa-md mobile-only"></i>
				<i id="settings" class="fa fa-cog fa-md"></i>
			</div>
			
			<div class="Left-content">
				<form id="full-form" action="{{action_url}}" method="post" accept-charset="utf-8">
					{% csrf_token %}
					
<!-- Personal -->
					<div id="autosaving" class="center"><i id="autosaving" class="fa fa-spinner fa-spin fa-md"></i> Saving...</div>
					<section id="personal-section">
						<h2 class="fs-title">Personal Details</h2>
						<hr>
						<div class="input-block">
							<label class="input-label">Name</label>
							
							<input type="text" id="first_name-edit" class="input-box half-box directEdit" maxlength="35" pattern=".{1,35}" placeholder="First" name="first_name" value="{{s_user.first_name}}" autofocus/>
							<input type="text" id="last_name-edit" class="input-box half-box directEdit" maxlength="35" pattern=".{1,35}" placeholder="Last" name="last_name" value="{{s_user.last_name}}"/>
						</div>
						<hr>
						<div class="input-block">
							<label class="input-label">URL</label>
							<input type="text" id="handle" class="input-box" maxlength="25" name="handle" placeholder="Personal URL" value="{{s_user.userprofile.handle}}" autofocus/>
							<span class="help-block url"></span>
						</div>
						<hr>
						<div class="input-block">
							<label class="input-label">Profession</label>
							
							<input type="text" id="profession-edit" class="input-box directEdit" maxlength="50" placeholder="What do you do?" name="profession" value="{{s_user.userprofile.profession}}" maxlength="50" />
						</div>
						<hr>
						<div class="input-block">
							<label class="input-label">Statement</label>
							<textarea id="personal-edit" class="textarea-box directEdit" name="statement" placeholder="Let's talk about you.">{{s_user.userprofile.statement}}</textarea>
						</div>
						<hr>
					</section>

<!-- Experience -->
									
					<section id="experience-section">
						<h2 class="fs-title">Work Experience</h2>
						<div id="experience-info">
						    {% if job_list %}
								{% for job in job_list %}
							        <div class="info-item">
										<hr>
										<div class="input-block">
											 <a class="pull-left"><font class="panelIcon"><i id="collapse_experience{{forloop.counter}}-toggle" class="collapse-toggle fa fa-plus-square"></i></font></a>
											 <span id="collapse_experience{{forloop.counter}}-toggle" class="collapse-toggle">{% if job.position %}{{job.position}}{% else %}New Job{% endif %}</span>
											 <a class="pull-right delete-item" id="Job_{{job.id}}"><font class="panelIcon"><i class="fa fa-trash-o fa-lg"></i></font></a>
										</div>
					                    <hr>
							            <div id="collapse_experience{{forloop.counter}}" class="collapsable-item">
							                <div class="panel-body">							                    
												<div class="input-block">
													<label class="input-label">Position</label>
													<input group="experience" type="text" id="position{{forloop.counter}}-edit" class="input-box directEdit" maxlength="50" name="{{job.id}}_position" placeholder="Position" value="{{job.position}}"/>
												</div>
												<hr>
												<div class="input-block">
													<label class="input-label">Employer</label>
													<input group="experience" type="text" id="company{{forloop.counter}}-edit" class="input-box directEdit" maxlength="50" name="{{job.id}}_company" placeholder="Company" value="{{job.company}}"/>
												</div>
												<hr>
												<div class="input-block">
													<label class="input-label">Date</label>
													<div class="form-inline">
												        <select group="experience" id="job_from_date{{forloop.counter}}-edit" class="form-control to-from-field half-box directEdit" name="{{job.id}}_job_from_date" placeholder="From: ">
															<option disabled="disabled">From</option>
															{% for x in year_choices %}
																<option value="{{x}}">{{x}}</option>
															{% endfor %}
														<select/>
												        <select group="experience" id="job_to_date{{forloop.counter}}-edit" class="form-control to-from-field half-box directEdit" name="{{job.id}}_job_to_date" placeholder="To: ">
															<option disabled="disabled">To</option>
															<option value="PRESENT">Present</option>
															{% for x in year_choices %}
															<option value="{{x}}">{{x}}</option>
															{% endfor %}
														</select>
														<script>
															$("#job_from_date{{forloop.counter}}-edit").val("{{job.job_from_date}}");
															$("#job_to_date{{forloop.counter}}-edit").val("{{job.job_to_date}}");
														</script>
														<br>
													</div>
												</div>
												<hr>
												<div class="input-block">
													<label class="input-label">Description</label>
													<textarea group="experience" id="job_about{{forloop.counter}}-edit" class="textarea-box directEdit" name="{{job.id}}_job_about" placeholder="Description">{{job.job_about}}</textarea>
												</div>
							                </div>
							            </div>
							        </div>
									{% if forloop.last %}<a id="{{forloop.counter|add:'1'}}" class="add-item"><i class="fa fa-plus-circle"></i> Add item</a>{% endif %}
								{% endfor %}
								{# {% if not job_list %}<a id="{{forloop.counter|add:'1'}}" class="add-item"><i class="fa fa-plus-circle"></i> Add item</a>{% endif %} #}	{% else %}
								<a id="{{forloop.counter|add:'1'}}" class="add-item"><i class="fa fa-plus-circle"></i>Add item</a>
							{% endif %}
							</div>
						</section>

<!-- Education -->
									
					<section id="education-section">
						<h2 class="fs-title">Education History</h2>
						<div id="education-info">
							{% if education_list %}
								{% for ed in education_list %}
									<div class="info-item">
											<hr>
											<div class="input-block">
												 <a class="pull-left"><font class="panelIcon"><i id="collapse_education{{forloop.counter}}-toggle" class="collapse-toggle fa fa-plus-square"></i></font></a>
												 <span id="collapse_education{{forloop.counter}}-toggle" class="collapse-toggle">{% if ed.school %}{{ed.school}}{% else %}New Record{% endif %}</span>
												 <a class="pull-right delete-item" id="Ed_{{ed.id}}"><font class="panelIcon"><i class="fa fa-trash-o fa-lg"></i></font></a>
											</div>
						                    <hr>
								            <div id="collapse_education{{forloop.counter}}" class="collapsable-item">
								                <div class="panel-body">							                    
													<div class="input-block">
														<label class="input-label">Status</label>
												        <select group="education" id="status{{forloop.counter}}-edit" class="form-control directEdit" name="{{ed.id}}_status">
															<option selected="" disabled="disabled">Status</option>
															<option value="Graduated">Graduated</option>
															<option value="Attending">Attending</option>
															<option value="">Other</option>
														</select>
													</div>
													<hr>
													<div class="input-block">
														<label class="input-label">School</label>
														<input group="education" type="text" id="school{{forloop.counter}}-edit" class="input-box directEdit" maxlength="50" name="{{ed.id}}_school" placeholder="School" value="{{ed.school}}"/>
													</div>
													<hr>
													<div class="input-block">
														<label class="input-label">Degree</label>
														<input group="education" type="text" id="degree{{forloop.counter}}-edit" class="input-box directEdit" maxlength="100" name="{{ed.id}}_degree" placeholder="Degree" value="{{ed.degree}}"/>
													</div>
													<hr>
													<div class="input-block">
														<label class="input-label">Date</label>
														<div class="form-inline">
													        <select group="education" id="Education_from_date{{forloop.counter}}-edit" class="form-control to-from-field half-box directEdit" name="{{ed.id}}_Education_from_date" placeholder="From: ">
																<option disabled="disabled">From</option>
																{% for x in year_choices %}
																	<option value="{{x}}">{{x}}</option>
																{% endfor %}
															<select/>
													        <select group="education" id="Education_to_date{{forloop.counter}}-edit" class="form-control to-from-field half-box directEdit" name="{{ed.id}}_Education_to_date" placeholder="To: ">
																<option disabled="disabled">To</option>
																<option value="PRESENT">Present</option>
																{% for x in year_choices %}
																<option value="{{x}}">{{x}}</option>
																{% endfor %}
															</select>
															<script>
																$("#status{{forloop.counter}}-edit").val("{{ed.status}}");
																$("#Education_from_date{{forloop.counter}}-edit").val("{{ed.Education_from_date}}");
																$("#Education_to_date{{forloop.counter}}-edit").val("{{ed.Education_to_date}}");
															</script>
															<br>
														</div>
													</div>
								                </div>
								            </div>
								        </div>
										{% if forloop.last %}<a id="{{forloop.counter|add:'1'}}" class="add-item"><i class="fa fa-plus-circle"></i> Add item</a>{% endif %}
									{% endfor %}
								{%else%}
									<a id="0" class="add-item"><i class="fa fa-plus-circle"></i>Add item</a>
								{%endif%}
							</div>
					</section>
				
				
<!-- Accomplishments-->				
					<section id="accomplishments-section">
						<h2 class="fs-title">Accomplishments</h2>
						<div id="accomplishments-info">
							{% if accomp_list %}
								{% for accomp in accomp_list %}
									<div class="info-item">
											<hr>
											<div class="input-block">
												 <a class="pull-left"><font class="panelIcon"><i id="collapse_accomplishments{{forloop.counter}}-toggle" class="collapse-toggle fa fa-plus-square"></i></font></a>
												 <span id="collapse_accomplishments{{forloop.counter}}-toggle" class="collapse-toggle">{% if accomp.title %}{{accomp.title}}{% else %}New Record{% endif %}</span>
												 <a class="pull-right delete-item" id="accomplishments_{{accomp.id}}"><font class="panelIcon"><i class="fa fa-trash-o fa-lg"></i></font></a>
											</div>
						                    <hr>
								            <div id="collapse_accomplishments{{forloop.counter}}" class="collapsable-item">
								                <div class="panel-body">							                    
													<div class="input-block">
														<label class="input-label">Title</label>
														<input group="accomplishments" type="text" id="title{{forloop.counter}}-edit" class="input-box directEdit" maxlength="50" name="{{accomp.id}}_title" placeholder="Accomplishment" value="{{accomp.title}}"/>
													</div>
													<hr>
													<div class="input-block">
														<label class="input-label">Date</label>
														<div class="form-inline">
													        <select group="accomplishments" id="Accomplishment_from_date{{forloop.counter}}-edit" class="form-control to-from-field half-box directEdit" name="{{accomp.id}}_Accomplishment_from_date" placeholder="From: ">
																<option disabled="disabled">From</option>
																{% for x in year_choices %}
																	<option value="{{x}}">{{x}}</option>
																{% endfor %}
															<select/>
													        <select group="accomplishments" id="Accomplishment_to_date{{forloop.counter}}-edit" class="form-control to-from-field half-box directEdit" name="{{accomp.id}}_Accomplishment_to_date" placeholder="To: ">
																<option disabled="disabled">To</option>
																<option value="PRESENT">Present</option>
																{% for x in year_choices %}
																<option value="{{x}}">{{x}}</option>
																{% endfor %}
															</select>
															<script>
																$("#title{{forloop.counter}}-edit").val("{{accomp.title}}");
																$("#Accomplishment_from_date{{forloop.counter}}-edit").val("{{accomp.Accomplishment_from_date}}");
																$("#Accomplishment_to_date{{forloop.counter}}-edit").val("{{accomp.Accomplishment_to_date}}");
															</script>
															<br>
														</div>
														<hr>
														<div class="input-block">
															<label class="input-label">Description</label>
															<textarea group="accomplishments" id="accomplishments_about{{forloop.counter}}-edit" class="textarea-box directEdit" name="{{accomp.id}}_accomplishments_about" placeholder="Description">{{accomp.about}}</textarea>
														</div>
													</div>
								                </div>
								            </div>
								        </div>
										{% if forloop.last %}<a id="{{forloop.counter|add:'1'}}" class="add-item"><i class="fa fa-plus-circle"></i> Add item</a>{% endif %}
									{% endfor %}
								{%else%}
									<a id="0" class="add-item"><i class="fa fa-plus-circle"></i>Add item</a>
								{%endif%}
							</div>
					</section>
					
					
<!-- Skill Set -->		
					<section id="skills-section">
						<h2 class="fs-title">Skill Set</h2>
						<div id="skills-info">
							{% if skill_list %}
								{% for skill in skill_list %}
									<div class="info-item">
											<hr>
											<div class="input-block">
												 <a class="pull-left"><font class="panelIcon"><i id="collapse_skills{{forloop.counter}}-toggle" class="collapse-toggle fa fa-plus-square"></i></font></a>
												 <span id="collapse_skills{{forloop.counter}}-toggle" class="collapse-toggle">{% if skill.skill %}{{skill.skill}}{% else %}New Record{% endif %}</span>
												 <a class="pull-right delete-item" id="skills_{{skill.id}}"><font class="panelIcon"><i class="fa fa-trash-o fa-lg"></i></font></a>
											</div>
						                    <hr>
								            <div id="collapse_skills{{forloop.counter}}" class="collapsable-item">
								                <div class="panel-body">							                    
													<div class="input-block">
														<label class="input-label">Title</label>
														<input group="skills" type="text" id="skillName{{forloop.counter}}-edit" class="input-box directEdit" name="{{skill.id}}_skill" placeholder="Skill" value="{{skill.skill}}"/>
													</div>
													
													<div class="input-block">
														<br>
														<div id="slider{{forloop.counter}}-edit" class="slider animateSlide" style="background-color:rgb(63, 138, 255)"></div>
														<input group="skills" type="hidden" id="form_percentage{{forloop.counter}}" class="directEdit" name="{{skill.id}}_percentage" value="{{skill.percentage}}"/>
															<font id="percentage{{forloop.counter}}-edit" class="pull-right">{{skill.percentage}}%</font>
															<script>
															$('#slider{{forloop.counter}}-edit').noUiSlider({
																start: [ {{skill.percentage}} ],
																connect: "lower",
																step: 5,
																range: {
																'min': 0,
																'max': 100
																}
															});
															</script>
														</div>
													</div>
								                </div>
								            </div>

										{% if forloop.last %}<a id="{{forloop.counter|add:'1'}}" class="add-item add-slider"><i class="fa fa-plus-circle"></i> Add item</a>{% endif %}
									{% endfor %}
								{%else%}
									<a id="0" class="add-item add-slider"><i class="fa fa-plus-circle"></i> Add item</a>
								{%endif%}
							</div>
					</section>				
					
					
					
<!-- Contact Info -->						
					<section id="contact-section">
						<h2 class="fs-title">Contact Details</h2>
						<hr>
						<div class="input-block">
							<label class="input-label">Phone #</label>
							<input type="tel" class="input-box directEdit" value="{{ s_user.userprofile.phone_number }}" id="phone_number-edit" name="phone_number"></input>
						</div>
						<hr>
						{% for social in social_list %}
							<div class="input-block">
								<label class="input-label">Facebook</label>
								{% if social.facebook %}
									<i class="input-box fa fa-check-circle-o" id="facebookCheck"></i>
									<a class="cancelInputAfter"><font class=""><i class="fa fa-times fa-lg"></i></font></a>
									
								{% else %}	
									<fb:login-button class="input-box" id="facebookLogin" scope="public_profile,email" onlogin="checkLoginState();">
									Connect
									</fb:login-button>
									<i class="input-box fa" id="facebookCheck" style="display:none;"></i>
									<a class="cancelInputAfter" style="display:none;"><font class=""><i class="fa fa-times fa-lg"></i></font></a>
								{% endif %}
								<input type="hidden" id="facebookLink" name="facebook" value="{{social.facebook}}"></input>
							</div>
							<hr>
							<div class="input-block">
								<label class="input-label">Twitter</label>
								<input type="url" name="twitter" class="input-box" value="{{social.twitter}}"></input>
							</div>
							<hr>
							<div class="input-block">
								<label class="input-label">LinkedIn</label>
								<input type="url" name="linkedIn" class="input-box" value="{{social.linkedIn}}"></input>
							</div>
						{% endfor %}
						<hr>
					</section>
				
<!-- Template Select -->						
					<section id="template-section">
						<h2 class="fs-title">Choose A Template</h2>
						<hr>
						<div class="grid">
							<select name="template" id="template-edit" class="image-picker show-html directEdit">
								<option value=""></option>
								{% for template in template_list %}
									<option {% if template == s_user.user_template.template_name %}selected=""{%endif%} data-img-src="../static/img/templateIcons/{{template}}.jpg" value="{{template}}">{{template.readable_name}}</option>
								{% endfor %}
							</select>
						</div>
						<hr>
					</section>
				
				
<!-- Preview (RIGHT SIDE) -->						
					<section id="preview-section">
						<iframe id="mobile-resume" src="{{s_user.userprofile.handle}}" allowfullscreen="" seamless>Please upgrade your browser to view this page.</iframe>
					</section> <!-- Preview Section -->
					
					<section id="settings-section">
						<h2 class="fs-title">Account Information</h2>
						<hr>
						<div class="input-block">
							<label class="input-label checkbox-label">
								<input type="checkbox" id="is_public" name="is_public" class="checker" {% if s_user.is_public == True %} checked {% endif %} />
							</label>
							<label class="input-box">Public profile? <span class="descriptive-text">| Allow others to view your resume.</span></label>
						</div>
						<hr>
						<div class="input-block">
							<label class="input-label">Created</label>
							<label class="input-box">{{s_user.created_date}} <span class="descriptive-text">| Your resume's birthday!</span></label>
							<hr>
						</div>
						<div class="input-block">
							<label class="input-label">Modified</label>
							<label class="input-box">{{s_user.modified_date}} <span class="descriptive-text">| Your last update.</span></label>
						</div>
						<hr>
						<br><br>
						
						<h2 class="fs-title">Tags</h2>
						<hr>
						<div class="input-block" id="tags-info">
							{% if s_user.userprofile.tags.all %}
								{% for tag in s_user.userprofile.tags.all %}
									<script>
										tag_list("{{tag}}", {{forloop.counter}});
									</script>
									<span class="info-item tag" id="tag{{forloop.counter}}">{{tag}}&nbsp;<a class="delete-item" id="tags_{{tag.id}}"><font class="tagIcon"><i class="fa fa-times fa-lg"></i></font></a></span>
								{% endfor %}
							{% endif %}
							<input type="text" id="new_tag_add" class="input-box tag-box inline" value="" placeholder="Add new tag"\>
							<hr>
						</div>
						
						<br><br>
						
						<h2 class="fs-title">Login Credentials</h2>
						<hr>
						<div class="input-block">
							<label class="input-label">Email</label>
							<input type="email" id="email-edit" class="input-box directEdit" placeholder="Email Address" value="{{s_user.email}}" name="{{s_user.id}}_email" maxlength="255"/>
							<hr>
						</div>
						<div class="input-block">
							<label class="input-label">Password</label>
							<input name="{{s_user.id}}_password" class="input-box" placeholder="Change Password" type="password" id="password" pattern=".{6,}" />
							<hr>
						</div>
					</section> <!-- Preview Section -->
				
				</div>				
				
			</div><!-- /Left -->
		</form>

        <div id="webView" class="Right">
			<button id="fullscreen-btn" class="clear-btn">Fullscreen</button>
			
			<iframe id="resume" src="{{s_user.userprofile.handle}}" allowfullscreen="" seamless>Please upgrade your browser to view this page.</iframe>
		</div>
    </div> <!-- / CONTAINTER -->
	
	
	<!-- TEMPLATES for New Items -->
	
	<!-- Experience -->
	
	<div id="experience-info-template" class="template">
		<div class="info-item">
			<hr>
			<div class="input-block">
				 <a class="pull-left"><font class="panelIcon"><i id="collapse_experience{counter}-toggle" class="collapse-toggle fa fa-plus-square"></i></font></a>
				 <span id="collapse_experience{counter}-toggle" class="collapse-toggle">New Job</span>
				 <a class="pull-right delete-item" id="{counter}"><font class="panelIcon"><i class="fa fa-trash-o fa-lg"></i></font></a>
			</div>
		    <hr>
		    <div id="collapse_experience{counter}" class="collapsable-item">
		        <div class="panel-body">							                    
					<div class="input-block">
						<label class="input-label">Position</label>
						<input group="experience" type="text" id="position{counter}-edit" class="input-box directEdit" maxlength="50" name="{counter}_NEW_position" placeholder="Position"/>
					</div>
					<hr>
					<div class="input-block">
						<label class="input-label">Employer</label>
						<input group="experience" type="text" id="company{counter}-edit" class="input-box directEdit" maxlength="50" name="{counter}_NEW_company" placeholder="Company"/>
					</div>
					<hr>
					<div class="input-block">
						<label class="input-label">Date</label>
						<div class="form-inline">
					        <select group="experience" id="job_from_date{counter}-edit" class="form-control to-from-field half-box directEdit" name="{counter}_NEW_job_from_date" placeholder="From: ">
								<option disabled="disabled">From</option>
								{% for x in year_choices %}
									<option value="{{x}}">{{x}}</option>
								{% endfor %}
							<select/>
					        <select group="experience" id="job_to_date{counter}-edit" class="form-control to-from-field half-box directEdit" name="{counter}_NEW_job_to_date" placeholder="To: ">
								<option disabled="disabled">To</option>
								<option value="PRESENT">Present</option>
								{% for x in year_choices %}
								<option value="{{x}}">{{x}}</option>
								{% endfor %}
							</select>
							<br>
						</div>
					</div>
					<hr>
					<div class="input-block">
						<label class="input-label">Description</label>
						<textarea group="experience" id="job_about{counter}-edit" class="textarea-box directEdit" name="{counter}_NEW_job_about" placeholder="Description"></textarea>
					</div>
		        </div>
		    </div>
		</div>
	</div>
	
	<!-- Education -->
	
	<div id="education-info-template" class="template">
		<div class="info-item">
				<hr>
				<div class="input-block">
					 <a class="pull-left"><font class="panelIcon"><i id="collapse_education{counter}-toggle" class="collapse-toggle fa fa-plus-square"></i></font></a>
					 <span id="collapse_education{counter}-toggle" class="collapse-toggle">New Record</span>
					 <a class="pull-right delete-item" id="{counter}"><font class="panelIcon"><i class="fa fa-trash-o fa-lg"></i></font></a>
				</div>
                <hr>
	            <div id="collapse_education{counter}" class="collapsable-item">
	                <div class="panel-body">							                    
						<div class="input-block">
							<label class="input-label">Status</label>
					        <select group="education" id="status{counter}-edit" class="form-control directEdit" name="{counter}_NEW_status">
								<option selected="" disabled="disabled">Status</option>
								<option value="Graduated">Graduated</option>
								<option value="Attending">Attending</option>
								<option value="">Other</option>
							</select>
						</div>
						<hr>
						<div class="input-block">
							<label class="input-label">School</label>
							<input group="education" type="text" id="school{counter}-edit" class="input-box directEdit" maxlength="50" name="{counter}_NEW_school" placeholder="School"/>
						</div>
						<hr>
						<div class="input-block">
							<label class="input-label">Degree</label>
							<input group="education" type="text" id="degree{counter}-edit" class="input-box directEdit" maxlength="100" name="{counter}_NEW_degree" placeholder="Degree"/>
						</div>
						<hr>
						<div class="input-block">
							<label class="input-label">Date</label>
							<div class="form-inline">
						        <select group="education" id="Education_from_date{counter}-edit" class="form-control to-from-field half-box directEdit" name="{counter}_NEW_Education_from_date" placeholder="From: ">
									<option disabled="disabled">From</option>
									{% for x in year_choices %}
										<option value="{{x}}">{{x}}</option>
									{% endfor %}
								<select/>
						        <select group="education" id="Education_to_date{counter}-edit" class="form-control to-from-field half-box directEdit" name="{counter}_NEW_Education_to_date" placeholder="To: ">
									<option disabled="disabled">To</option>
									<option value="PRESENT">Present</option>
									{% for x in year_choices %}
									<option value="{{x}}">{{x}}</option>
									{% endfor %}
								</select>
								<br>
							</div>
						</div>
	                </div>
	            </div>
			</div>
		</div>
		
		<!-- Accomplishments -->			
						
		<div id="accomplishments-info-template" class="template">
			<div class="info-item">
					<hr>
					<div class="input-block">
						 <a class="pull-left"><font class="panelIcon"><i id="collapse_accomplishments{counter}-toggle" class="collapse-toggle fa fa-plus-square"></i></font></a>
						 <span id="collapse_accomplishments{counter}-toggle" class="collapse-toggle">New Record</span>
						 <a class="pull-right delete-item" id="{counter}"><font class="panelIcon"><i class="fa fa-trash-o fa-lg"></i></font></a>
					</div>
	                <hr>
		            <div id="collapse_accomplishments{counter}" class="collapsable-item">
		                <div class="panel-body">							                    

							<div class="input-block">
								<label class="input-label">Title</label>
								<input group="accomplishments" type="text" id="title{counter}-edit" class="input-box directEdit" maxlength="50" name="{counter}_NEW_title" placeholder="Accomplishment"/>
							</div>
							<hr>
							<div class="input-block">
								<label class="input-label">Date</label>
								<div class="form-inline">
							        <select group="accomplishments" id="Accomplishment_from_date{counter}-edit" class="form-control to-from-field half-box directEdit" name="{counter}_NEW_Accomplishment_from_date" placeholder="From: ">
										<option disabled="disabled">From</option>
										{% for x in year_choices %}
											<option value="{{x}}">{{x}}</option>
										{% endfor %}
									<select/>
							        <select group="accomplishments" id="Accomplishment_to_date{counter}-edit" class="form-control to-from-field half-box directEdit" name="{counter}_NEW_Accomplishment_to_date" placeholder="To: ">
										<option disabled="disabled">To</option>
										<option value="PRESENT">Present</option>
										{% for x in year_choices %}
										<option value="{{x}}">{{x}}</option>
										{% endfor %}
									</select>
									<br>
								</div>
								<hr>
								<div class="input-block">
									<label class="input-label">Description</label>
									<textarea group="accomplishments" id="accomplishments_about{counter}-edit" class="textarea-box directEdit" name="{counter}_NEW_accomplishments_about" placeholder="Description"></textarea>
								</div>
							</div>
		                </div>
		            </div>
				</div>
			</div>
			
			<!-- Skills -->
			
			<div id="skills-info-template" class="template">
				<div class="info-item">
						<hr>
						<div class="input-block">
							 <a class="pull-left"><font class="panelIcon"><i id="collapse_skills{counter}-toggle" class="collapse-toggle fa fa-plus-square"></i></font></a>
							 <span id="collapse_skills{counter}-toggle" class="collapse-toggle">New Record</span>
							 <a class="pull-right delete-item" id="{counter}"><font class="panelIcon"><i class="fa fa-trash-o fa-lg"></i></font></a>
						</div>
		                <hr>
			            <div id="collapse_skills{counter}" class="collapsable-item">
			                <div class="panel-body">							                    

								<div class="input-block">
									<label class="input-label">Title</label>
									<input group="skills" type="text" id="skillName{counter}-edit" class="input-box directEdit" maxlength="50" name="{counter}_NEW_skill" placeholder="Skill"/>
								</div>
								<div class="input-block">
									<br>
									<div id="slider{counter}-edit" class="animateSlide" style="background-color:rgb(63, 138, 255)"></div>
									<input group="skills" type="hidden" id="form_percentage{counter}" class="directEdit" name="{counter}_percentage" value="0"/>
										<font id="percentage{counter}-edit" class="pull-right">0%</font>
									</div>
								</div>
			                </div>
			            </div>
					</div>
				</div>
				
				<!-- tags -->
				<div id="tags-info-template" class="template">
					<span class="info-item tag tag_new" id="tag{counter}">{value}&nbsp;<a class="delete-item" id="tags_{counter}"><font class="tagIcon"><i class="fa fa-times fa-lg"></i></font></a></span>
				</div>

				

	</div> <!-- END TEMPS -->
			
			
			
			
	<!-- / TEMPLATES -->
    </body>
		<script>
		
		var lastHandle = "{{s_user.userprofile.handle}}";
		
		
		$("#handle").change(function() {
			var handle = slugify($('#handle').val());
			$('#handle').val(handle);
			if(lastHandle !== handle){
				checkHandle(slugify(handle))
				lastHandle=slugify(handle)
			}
			else{
				$('#handle').css("border",'solid 1px white');
			}
		});
		
		function checkHandle(handle, flag) {
			handle=handle.replace(/\s/g,''); 

			$.ajax({
				async : true,
		        url : "/check_handle", // the endpoint
		        type : "POST", // http method
		        data : {
					handle : handle,
					'csrfmiddlewaretoken': '{{csrf_token}}'
				},
		        // handle a successful response
		        success : function(json) {
					if(json == 0){
						$('#handle').css("border",'solid 1px green');
						$('#resume').attr("src", handle);
						$('#mobile-resume').attr("src", handle);
						saveResume("handle", handle, "None",-1, "update");
						//Success: 0
					}else{
						$('#handle').css("border",'solid 1px red');
						// alert("That URL is taken");
						//Failed: 1
					}
		        }
			});
		};
		
		function saveResume(key, value, sub, pk, option) {
			// This API is made to save info based on key and sub key.
				var data = 0;
				$.ajax({
					async : (option != "add") ? true : false, //(true, false)
			        url : "{{action_url}}", // the endpoint
			        type : "POST", // http method
			        data : {
						key : key,  // field name
						value : value,  //Value of field
						sub : sub,  //header of field (ex education)
						pk : pk,  //pk of object, if exists
						option : option,  // add, delete, update
						'csrfmiddlewaretoken': '{{csrf_token}}'
					},
			        // handle a successful response
			        success : function(json) {
						if(json != 0){
							show_saving(1000);
							if(key == "template"){
								document.getElementById('resume').contentWindow.location.reload(true);
								document.getElementById('mobile-resume').contentWindow.location.reload(true);
							}
							if(option == "add"){
								data=json;
							}
							//Success: 0
						}else{
							$('[name="'+key+'"]').css("border",'solid 1px red');
							// alert("Save failed, please refresh the page and try again");
							//Failed: 1
						}
			        }
				});
				if(option == "add"){
					return data;
				}
		};
		
  		// This is called with the results from from FB.getLoginStatus().
  		  function statusChangeCallback(response) {
  		    console.log('statusChangeCallback');
  		    console.log(response);
  		    // The response object is returned with a status field that lets the
  		    // app know the current login status of the person.
  		    // Full docs on the response object can be found in the documentation
  		    // for FB.getLoginStatus().
  		    if (response.status === 'connected') {
  		      // Logged into your app and Facebook.
  		      testAPI();
  		    } else if (response.status === 'not_authorized') {
  		      // The person is logged into Facebook, but not your app.
  		      document.getElementById('status').innerHTML = 'Please log ' +
  		        'into this app.';
  		    } else {
  		      // The person is not logged into Facebook, so we're not sure if
  		      // they are logged into this app or not.
  		      document.getElementById('status').innerHTML = 'Please log ' +
  		        'into Facebook.';
  		    }
  		  }

  		  // This function is called when someone finishes with the Login
  		  // Button.  See the onlogin handler attached to it in the sample
  		  // code below.
  		  function checkLoginState() {
  		    FB.getLoginStatus(function(response) {
  		      statusChangeCallback(response);
  		    });
  		  }

  		  window.fbAsyncInit = function() {
			  FB.init({
			    appId      : '1551034371776291',
			    cookie     : true,  // enable cookies to allow the server to access 
			                        // the session
			    xfbml      : true,  // parse social plugins on this page
			    version    : 'v2.1' // use version 2.1
			  });
			  // FB.getLoginStatus(function(response) {
			  //   statusChangeCallback(response);
			  // });
  		  };

  		  // Load the SDK asynchronously
  		  (function(d, s, id) {
  		    var js, fjs = d.getElementsByTagName(s)[0];
  		    if (d.getElementById(id)) return;
  		    js = d.createElement(s); js.id = id;
  		    js.src = "//connect.facebook.net/en_US/sdk.js";
  		    fjs.parentNode.insertBefore(js, fjs);
  		  }(document, 'script', 'facebook-jssdk'));

  		  // Here we run a very simple test of the Graph API after login is
  		  // successful.  See statusChangeCallback() for when this call is made.
  		  function testAPI() {
		    document.getElementById('facebookCheck').innerHTML =
		        'loading...';
  		    FB.api('/me', function(response) {
		    	document.getElementById('facebookCheck').innerHTML =
		        '';
				document.getElementById('facebookCheck').className += " fa-check-circle-o";
				$(".fb_iframe_widget").hide();
				$(".cancelInputAfter").removeAttr("style");
				$("#facebookCheck").removeAttr("style");
				$("#facebookLink").val(response.link);
				//response.link gets URL
  		    });
			
  		  }
		  
		
	</script>
</html>

{% endblock %}