{% extends "base_dashboard.html" %}
{% block content %} 

<html class="no-js">
    <head>
        <meta charset="utf-8">
        <title>Edit Resume</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
    {# <div class="Top">{{ s_user.first_name }} {{ s_user.last_name }}</div> #}
    <div class="Container">
        <div class="Left">
			<a href="#" id="menu-toggle" class="menu-toggle badge menu-x menu-x-close mobile-only visible"><span></span></a>
			<div class="Top-menu">
				<i id="personal" class="fa fa-user activeIcon fa-md"></i>
				<i id="experience" class="fa fa-briefcase fa-md"></i>
				<i id="education" class="fa fa-graduation-cap fa-md"></i>
				<i id="accomplishments" class="fa fa-lightbulb-o fa-lg"></i>
				<i id="skills" class="fa fa-tasks fa-lg"></i>
				<i id="contact" class="fa fa-phone fa-lg"></i>
				<i id="template" class="fa fa-file-image-o fa-md"></i>
				<i id="preview" class="fa fa-eye fa-md mobile-only"></i>
				<i id="settings" class="fa fa-cog fa-md"></i>
				{# <i id="autosaving" class="fa fa-spinner fa-spin fa-md"></i> #}
			</div>
			
			<div class="Left-content">
				<form id="full-form" action="{{action_url}}" method="post" accept-charset="utf-8">
					{% csrf_token %}
					<section id="personal-section">
						<h2 class="fs-title">Personal Details</h2>
						<hr>
						<div class="input-block">
							<label class="input-label">Name</label>
							
							<input type="text" id="first_name-edit" class="input-box half-box directEdit" maxlength="35" pattern=".{1,35}" placeholder="First" value="{{s_user.first_name}}"/>
							<input type="text" id="last_name-edit" class="input-box half-box directEdit" maxlength="35" pattern=".{1,35}" placeholder="Last" value="{{s_user.last_name}}"/>
						</div>
						<hr>
						<div class="input-block">
							<label class="input-label">URL</label>
							<input type="text" id="handle" class="input-box" maxlength="15" name="handle" placeholder="Personal URL" value="{{s_user.userprofile.handle}}" autofocus/>
							<span class="help-block url"></span>
						</div>
						<hr>
						<div class="input-block">
							<label class="input-label">Profession</label>
							
							<input type="text" id="profession-edit" class="input-box directEdit" maxlength="50" placeholder="What do you do?" value="{{s_user.userprofile.profession}}" maxlength="50" />
						</div>
						<hr>
						<div class="input-block">
							<label class="input-label">Statement</label>
							<textarea id="personal-edit" class="textarea-box directEdit" placeholder="Let's talk about you.">{{s_user.userprofile.statement}}</textarea>
						</div>
						<hr>
					</section>
				
					<section id="experience-section">
						<h2 class="fs-title">Work Experience</h2>
						<div id="experience-info">
						    
								{% for job in job_list %}
							        <div class="info-item">
										<hr>
										<div class="input-block">
											 <a class="pull-left"><font class="panelIcon"><i id="collapse_experience{{forloop.counter}}-toggle" class="collapse-toggle fa fa-plus-square"></i></font></a>
											 <span id="collapse_experience{{forloop.counter}}-toggle" class="collapse-toggle">{{job.position}}</span>
											 <a class="pull-right delete-item" id="{{job.id}}"><font class="panelIcon"><i class="fa fa-trash-o fa-lg"></i></font></a>
										</div>
					                    <hr>
							            <div id="collapse_experience{{forloop.counter}}" class="collapsable-item">
							                <div class="panel-body">							                    
												<div class="input-block">
													<label class="input-label">Position</label>
													<input type="text" id="position{{forloop.counter}}-edit" class="input-box directEdit" maxlength="50" name="position" placeholder="Position" value="{{job.position}}"/>
												</div>
												<hr>
												<div class="input-block">
													<label class="input-label">Employer</label>
													<input type="text" id="company{{forloop.counter}}-edit" class="input-box directEdit" maxlength="50" name="company" placeholder="Company" value="{{job.company}}"/>
												</div>
												<hr>
												<div class="input-block">
													<label class="input-label">Date</label>
													<div class="form-inline">
												        <select id="job_from_date{{forloop.counter}}-edit" class="form-control to-from-field half-box directEdit" name="job_from_date" placeholder="From: ">
															<option disabled="disabled">From</option>
															{% for x in year_choices %}
																<option value="{{x}}">{{x}}</option>
															{% endfor %}
														<select/>
												        <select id="job_to_date{{forloop.counter}}-edit" class="form-control to-from-field half-box directEdit" name="job_to_date" placeholder="To: ">
															<option disabled="disabled">To</option>
															<option value="PRESENT">Present</option>
															{% for x in year_choices %}
															<option value="{{x}}">{{x}}</option>
															{% endfor %}
														</select>
														<script>
															$("#job_from_date{{forloop.counter}}-edit").val("{{job.job_from_date}}");
															$("#job_to_date{{forloop.counter}}-edit").val("{{job.job_to_date}}");
														</script>
														<br>
													</div>
												</div>
												<hr>
												<div class="input-block">
													<label class="input-label">Description</label>
													<textarea id="job_about{{forloop.counter}}-edit" class="textarea-box directEdit" name="job_about" placeholder="Description">{{job.job_about}}</textarea>
												</div>
							                </div>
							            </div>
							        </div>
									{% if forloop.last %}<a id="{{forloop.counter|add:'1'}}" class="add-item"><i class="fa fa-plus-circle"></i> Add item</a>{% endif %}
								{% endfor %}
							</div>
						</section>
				
					<section id="education-section">
						<h2 class="fs-title">Education History</h2>
						<div id="education-info">
							{% for ed in education_list %}
								<div class="info-item">
										<hr>
										<div class="input-block">
											 <a class="pull-left"><font class="panelIcon"><i id="collapse_education{{forloop.counter}}-toggle" class="collapse-toggle fa fa-plus-square"></i></font></a>
											 <span id="collapse_education{{forloop.counter}}-toggle" class="collapse-toggle">{{ed.school}}</span>
											 <a class="pull-right delete-item" id="{{ed.id}}"><font class="panelIcon"><i class="fa fa-trash-o fa-lg"></i></font></a>
										</div>
					                    <hr>
							            <div id="collapse_education{{forloop.counter}}" class="collapsable-item">
							                <div class="panel-body">							                    
												<div class="input-block">
													<label class="input-label">Status</label>
											        <select id="status{{forloop.counter}}-edit" class="form-control directEdit" name="status">
														<option selected="" disabled="disabled">Status</option>
														<option value="Graduated">Graduated</option>
														<option value="Attending">Attending</option>
														<option value="">Other</option>
													</select>
												</div>
												<hr>
												<div class="input-block">
													<label class="input-label">School</label>
													<input type="text" id="school{{forloop.counter}}-edit" class="input-box directEdit" maxlength="50" name="school" placeholder="School" value="{{ed.school}}"/>
												</div>
												<hr>
												<div class="input-block">
													<label class="input-label">Degree</label>
													<input type="text" id="degree{{forloop.counter}}-edit" class="input-box directEdit" maxlength="100" name="degree" placeholder="Degree" value="{{ed.degree}}"/>
												</div>
												<hr>
												<div class="input-block">
													<label class="input-label">Date</label>
													<div class="form-inline">
												        <select id="Education_from_date{{forloop.counter}}-edit" class="form-control to-from-field half-box directEdit" name="Education_from_date" placeholder="From: ">
															<option disabled="disabled">From</option>
															{% for x in year_choices %}
																<option value="{{x}}">{{x}}</option>
															{% endfor %}
														<select/>
												        <select id="Education_to_date{{forloop.counter}}-edit" class="form-control to-from-field half-box directEdit" name="Education_to_date" placeholder="To: ">
															<option disabled="disabled">To</option>
															<option value="PRESENT">Present</option>
															{% for x in year_choices %}
															<option value="{{x}}">{{x}}</option>
															{% endfor %}
														</select>
														<script>
															$("#status{{forloop.counter}}-edit").val("{{ed.status}}");
															$("#Education_from_date{{forloop.counter}}-edit").val("{{ed.Education_from_date}}");
															$("#Education_to_date{{forloop.counter}}-edit").val("{{ed.Education_to_date}}");
														</script>
														<br>
													</div>
												</div>
							                </div>
							            </div>
							        </div>
									{% if forloop.last %}<a id="{{forloop.counter|add:'1'}}" class="add-item"><i class="fa fa-plus-circle"></i> Add item</a>{% endif %}
								{% endfor %}
							</div>
					</section>
				
					<section id="accomplishments-section">
						<h2 class="fs-title">Accomplishments</h2>
					</section>
				
					<section id="skills-section">
						<h2 class="fs-title">Your Skill Set</h2>
						<div class="slider"></div>

						<script>
						$('.slider').noUiSlider({
							start: [ 0 ],
							range: {
								'min': 0,
								'max': 100
							}
						});
						</script>
					</section>
				
					<section id="contact-section">
						<h2 class="fs-title">Contact Info.</h2>
						<hr>
						<div class="input-block">
							<label class="input-label">Phone #</label>
							<input type="tel" class="input-box" value="{{ s_user.userprofile.phone_number }}"></input>
						</div>
						<hr>
						{% for social in social_list %}
							<div class="input-block">
								<label class="input-label">Facebook</label>
								{% if social.facebook %}
									<i class="input-box fa fa-check-circle-o" id="facebookCheck"></i>
									<a class="cancelInputAfter"><font class=""><i class="fa fa-times fa-lg"></i></font></a>
									
								{% else %}	
									<fb:login-button class="input-box" id="facebookLogin" scope="public_profile,email" onlogin="checkLoginState();">
									Connect
									</fb:login-button>
									<i class="input-box fa" id="facebookCheck" style="display:none;"></i>
									<a class="cancelInputAfter" style="display:none;"><font class=""><i class="fa fa-times fa-lg"></i></font></a>
								{% endif %}
								<input type="hidden" id="facebookLink" name="facebook" value="{{social.facebook}}"></input>
							</div>
							<hr>
							<div class="input-block">
								<label class="input-label">Twitter</label>
								<input type="url" name="twitter" class="input-box" value="{{social.twitter}}"></input>
							</div>
							<hr>
							<div class="input-block">
								<label class="input-label">LinkedIn</label>
								<input type="url" name="linkedIn" class="input-box" value="{{social.linkedIn}}"></input>
							</div>
						{% endfor %}
						<hr>
					</section>
				
					<section id="template-section">
						<h2 class="fs-title">Choose A Template</h2>
						<hr>
						<div class="grid">
							<select name="template_name" id="select_template" class="image-picker show-html">
								<option value=""></option>
								{% for template in template_list %}
									<option {% if template == s_user.user_template.template_name %}selected=""{%endif%} data-img-src="../static/img/templateIcons/{{template}}.jpg" value="{{template}}">{{template.readable_name}}</option>
								{% endfor %}
							</select>
						</div>
						<hr>
					</section> <!-- /Template Section -->
				
					<section id="preview-section">
						<iframe id="mobile-iframe" src="{{s_user.userprofile.handle}}" allowfullscreen="" seamless>Your browser doesn't support iframes.</iframe>
					</section> <!-- Preview Section -->
					
					<section id="settings-section">
						<h2 class="fs-title">Settings</h2>
						<hr>
						<div class="input-block">
							<label class="input-label checkbox-label">
								<input type="checkbox" name="is_public" {% if s_user.is_public == True %} checked {% endif %} />
							</label>
							<label class="input-box">Public profile? <span class="descriptive-text">| Allow others to view your resume.</span></label>
						</div>
						<hr>
						<div class="input-block">
							<label class="input-label">Created</label>
							<label class="input-box">{{s_user.created_date}} <span class="descriptive-text">| Your Resume's birthday!</span></label>
							<hr>
						</div>
						<div class="input-block">
							<label class="input-label">Modified</label>
							<label class="input-box">{{s_user.modified_date}} <span class="descriptive-text">| Your last update.</span></label>
						</div>
						<hr>
						<br><br>
						<h2 class="fs-title">Account Information</h2>
						<hr>
						<div class="input-block">
							<label class="input-label">Email</label>
							<input type="email" id="email-edit" class="input-box directEdit" placeholder="Email Address" value="{{s_user.email}}" maxlength="255"/>
							<hr>
						</div>
						<div class="input-block">
							<label class="input-label">Password</label>
							<input name="password" class="input-box" placeholder="Change Password" type="password" id="password" pattern=".{6,}" />
							<hr>
						</div>
					</section> <!-- Preview Section -->
				
				</div>				
			</div><!-- /Left -->
		</form>

        <div id="webView" class="Right">
			<button id="fullscreen-btn" class="clear-btn">Fullscreen</button>
			
			<iframe id="resume" src="{{s_user.userprofile.handle}}" allowfullscreen="" seamless>Your browser doesn't support iframes.</iframe>
		</div>
    </div> <!-- / CONTAINTER -->
	
	
	<!-- TEMPLATES -->
	<div id="experience-info-template" class="template">
		<div class="info-item">
			<hr>
			<div class="input-block">
				 <a class="pull-left"><font class="panelIcon"><i id="collapse_experience{counter}-toggle" class="collapse-toggle fa fa-plus-square"></i></font></a>
				 <span id="collapse_experience{counter}-toggle" class="collapse-toggle">New Job</span>
				 <a class="pull-right delete-item" id="{counter}"><font class="panelIcon"><i class="fa fa-trash-o fa-lg"></i></font></a>
			</div>
		    <hr>
		    <div id="collapse_experience{counter}" class="collapsable-item">
		        <div class="panel-body">							                    
					<div class="input-block">
						<label class="input-label">Position</label>
						<input type="text" id="position{counter}-edit" class="input-box directEdit" maxlength="50" name="position" placeholder="Position"/>
					</div>
					<hr>
					<div class="input-block">
						<label class="input-label">Employer</label>
						<input type="text" id="company{counter}-edit" class="input-box directEdit" maxlength="50" name="company" placeholder="Company"/>
					</div>
					<hr>
					<div class="input-block">
						<label class="input-label">Date</label>
						<div class="form-inline">
					        <select id="job_from_date{counter}-edit" class="form-control to-from-field half-box directEdit" name="job_from_date" placeholder="From: ">
								<option disabled="disabled">From</option>
								{% for x in year_choices %}
									<option value="{{x}}">{{x}}</option>
								{% endfor %}
							<select/>
					        <select id="job_to_date{counter}-edit" class="form-control to-from-field half-box directEdit" name="job_to_date" placeholder="To: ">
								<option disabled="disabled">To</option>
								<option value="PRESENT">Present</option>
								{% for x in year_choices %}
								<option value="{{x}}">{{x}}</option>
								{% endfor %}
							</select>
							<br>
						</div>
					</div>
					<hr>
					<div class="input-block">
						<label class="input-label">Description</label>
						<textarea id="job_about{counter}-edit" class="textarea-box directEdit" name="job_about" placeholder="Description"></textarea>
					</div>
		        </div>
		    </div>
		</div>
	</div><!-- / TEMPLATES -->
	
    </body>
		<script>
		var originalHandle = "{{s_user.userprofile.handle}}";
		
		$("#handle").change(function() {
			var handle = $('#handle').val();
			if(originalHandle !== handle){
				checkHandle(handle);
			}
			else{
				$('#handle').css("border",'solid 1px white');
			}
		});
		
		function checkHandle(handle, flag) {
			handle=handle.replace(/\s/g,''); 

			$.ajax({
				async : false,
		        url : "/check_handle", // the endpoint
		        type : "POST", // http method
		        data : {
					handle : handle,
					'csrfmiddlewaretoken': '{{csrf_token}}'
				},
		        // handle a successful response
		        success : function(json) {
					if(json == 0){
						$('#handle').css("border",'solid 1px green');
						flag=0;
						//Success: 0
					}else{
						$('#handle').css("border",'solid 1px red');
						alert("That URL is taken");
						flag=1;
						//Failed: 1
					}
		        }
			});
			return flag;
		};
		
  		// This is called with the results from from FB.getLoginStatus().
  		  function statusChangeCallback(response) {
  		    console.log('statusChangeCallback');
  		    console.log(response);
  		    // The response object is returned with a status field that lets the
  		    // app know the current login status of the person.
  		    // Full docs on the response object can be found in the documentation
  		    // for FB.getLoginStatus().
  		    if (response.status === 'connected') {
  		      // Logged into your app and Facebook.
  		      testAPI();
  		    } else if (response.status === 'not_authorized') {
  		      // The person is logged into Facebook, but not your app.
  		      document.getElementById('status').innerHTML = 'Please log ' +
  		        'into this app.';
  		    } else {
  		      // The person is not logged into Facebook, so we're not sure if
  		      // they are logged into this app or not.
  		      document.getElementById('status').innerHTML = 'Please log ' +
  		        'into Facebook.';
  		    }
  		  }

  		  // This function is called when someone finishes with the Login
  		  // Button.  See the onlogin handler attached to it in the sample
  		  // code below.
  		  function checkLoginState() {
  		    FB.getLoginStatus(function(response) {
  		      statusChangeCallback(response);
  		    });
  		  }

  		  window.fbAsyncInit = function() {
			  FB.init({
			    appId      : '1551034371776291',
			    cookie     : true,  // enable cookies to allow the server to access 
			                        // the session
			    xfbml      : true,  // parse social plugins on this page
			    version    : 'v2.1' // use version 2.1
			  });
			  // FB.getLoginStatus(function(response) {
			  //   statusChangeCallback(response);
			  // });
  		  };

  		  // Load the SDK asynchronously
  		  (function(d, s, id) {
  		    var js, fjs = d.getElementsByTagName(s)[0];
  		    if (d.getElementById(id)) return;
  		    js = d.createElement(s); js.id = id;
  		    js.src = "//connect.facebook.net/en_US/sdk.js";
  		    fjs.parentNode.insertBefore(js, fjs);
  		  }(document, 'script', 'facebook-jssdk'));

  		  // Here we run a very simple test of the Graph API after login is
  		  // successful.  See statusChangeCallback() for when this call is made.
  		  function testAPI() {
		    document.getElementById('facebookCheck').innerHTML =
		        'loading...';
  		    FB.api('/me', function(response) {
		    	document.getElementById('facebookCheck').innerHTML =
		        '';
				document.getElementById('facebookCheck').className += " fa-check-circle-o";
				$(".fb_iframe_widget").hide();
				$(".cancelInputAfter").removeAttr("style");
				$("#facebookCheck").removeAttr("style");
				$("#facebookLink").val(response.link);
				//response.link gets URL
  		    });
			
  		  }
		  
		
	</script>
</html>

{% endblock %}