{% load staticfiles %}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
	<head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta charset="utf-8">
		<title>R&#233;sify | R&#233;sum&#233;s a business can't resist</title>
		<meta http-equiv="X-UA-Compatible" content="chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
		 <meta name="author" content="Michael Rhyndress | RHYNO Web Design">
		<!-- JQUERY -->
		<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
		<script>window.jQuery || document.write('<script src="{% "js/vendor/jquery-2.1.1.min.js" }%"><\/script>')</script>
		<script src="{% static 'js/vendor/modernizr-2.6.2-respond-1.1.0.min.js' %}"></script>
		
		<script src="{% static 'js/vide/jquery.vide.js' %}"></script>
		<script src="{% static 'js/vendor/bootstrap.min.js' %}"></script>
		<!-- LOGIN FORM -->
		<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'css/homepage.css' %}"/>
		<link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet">
		<link href="{% static 'SystemFiles/Login/css/circle.css' %}" rel="stylesheet">
<!-- HOMEPAGE BACKGROUND IMAGE -->
{# <link rel="stylesheet" type="text/css" href="{% static 'SystemFiles/vegas/jquery.vegas.css' %}"> #}
{# <script type="text/javascript" src="{% static 'SystemFiles/vegas/jquery.vegas.min.js' %}"></script> #}

	</head>
	<body id="page-top" class="index">
	    <!-- Navigation -->
		<div class="navbar transparent navbar-inverse navbar-static-top">
		    <nav class="navbar-inner">
		        <div class="container">
		            <!-- Collect the nav links, forms, and other content for toggling -->
		            <div class="collapse navbar-collapse">
		                <ul class="nav navbar-nav navbar-left">
		                    <li class="hidden">
		                        <a href="#page-top"></a>
		                    </li>
		                    <li>
		                        <a class="page-scroll hidden-xs" href="#how">Why R&#233;sify?</a>
		                    </li>
		                    <li>
		                        <a class="page-scroll hidden-xs" href="#services">Services</a>
		                    </li>

		                </ul>
		                <ul class="nav navbar-nav navbar-right">
		                    <li class="hidden">
		                        <a href="#page-top"></a>
		                    </li>
		                    <li>
		                        <a class="page-scroll" href="business">Business</a>
		                    </li>
		                    <li>
		                        <a href="login">Sign In</a>
		                    </li>
		                    <li>
		                        <a href="register">Sign Up</a>
		                    </li>
		                </ul>
		            </div>
		            <!-- /.navbar-collapse -->
		        </div>
		        <!-- /.container-fluid -->
		    </nav>
		</div>
	    <header>
			<div id="darken"></div>
	        <div class="container">
	            <div class="intro-text">
					<div class="header">
						R&#233;sify <font style="font-size:40%">beta</font>
					</div>
					<h1 class="fancy"><span>BE RECOGNIZED. <font style="white-space:nowrap">GET HIRED.</font></span></h1>
	                <div class="intro-heading text-muted">It's Nice To Meet <i class="stand-out">You</i></div>
					<a href="#how" class="page-scroll button" id="learn">Learn More</a>
	            </div>
	        </div>
	    </header>
		
	    <section id="how">
	        <div class="container">
				<div class="flip"> 
			        <div class="card"> 
			            <div class="face front"> 
		  		            <div class="row" id="question">
		  		                <div class="col-lg-12 text-center">
									<div class="slide1">
			  		                    <h2 class="section-heading black-text">Ask Yourself.</h2>
			  		                    <h3 class="section-subheading text-muted">Does your r&#233;sum&#233; represent you well enough?</h3>
										<a href="" class="plain-button" id="flip">Click Here</a>
									</div>
									<div class="slide2">
			  		                    <h2 class="section-heading black-text">The Sad Truth.. 
											<span class="fa-stack fa-1x">
						                        <i class="fa fa-file fa-stack-1x black-text"></i>
						                        <i style="margin-top:15px;" class="fa fa-trash-o fa-stack-1x"></i>
						                    </span>
										</h2>
			  		                    <h3 class="section-subheading text-muted">Many companies use Applicant Tracking Systems (ATS) to screen resumes. Roughly half are discarded and never seen by the employer.</h3>
										<a href="" class="plain-button" id="flip">Continue</a>
									</div> <!-- /SLIDE 2-->
									<div class="slide4">
			  		                    <h2 class="section-heading black-text">Sign Up Today! </h2>
			  		                    <h3 class="section-subheading text-muted">Did we mention it is Free?</h3>
										<a href="register" class="plain-button" id="signUp">Sign Up</a>
									</div><!-- END Slide 4-->
		  		                </div>					
		  		            </div>
		  				  </div> <!-- /Front -->
			              <div class="face back"> 
 		  		            <div class="row" id="question">
 		  		                <div class="col-lg-12 text-center">
									<div class="slide1">
	 		  		                    <h2 class="section-heading black-text">Or is it plain like all the rest...
										<span class="fa-stack fa-1x">
					                        <i class="fa fa-file fa-stack-1x black-text"></i>
					                        <i style="margin-top:10px; font-size:26px" class="fa fa-users fa-stack-1x"></i>
					                    </span>
										</h2>
	 		  		                    <h3 class="section-subheading text-muted">A large percentage of r&#233;sum&#233;s get thrown out because they failed to catch the employer's attention.</h3>
										<div class="center-on-page">
											<div class="percent-circle">
								                <div id="boring-percent" class="c100 p0 large">
								                    <span>80%</span>
								                    <div class="slice">
								                        <div class="bar"></div>
								                        <div class="fill"></div>
								                    </div>
								                </div>
											</div>
										</div>
									</div><!-- END Slide 1-->
									<div class="slide3">
			  		                    <h2 class="section-heading black-text">We're Here To Help. 
										<span class="fa-stack fa-1x">
					                        <i class="fa fa-file fa-stack-1x black-text"></i>
					                        <i id="smile-icon" class="fa fa-smile-o fa-stack-1x"></i>
					                    </span>
										</h2>
			  		                    <h3 class="section-subheading text-muted">R&#233;sify your r&#233;sum&#233; to maximize your chances of getting the job. We offer tools to minimize the chance that a Applicant Tracking System will throw your r&#233;sum&#233; in the trash. Mix that with our modest, sleek templates and you have that much less to worry about.</h3>
										<a href="" class="plain-button" id="flip">Continue</a>
									</div><!-- END Slide 3-->
 		  		                </div>					
 		  		            </div>
			            </div>  <!-- / Back-->
			        </div> 	<!-- / Card -->	
				</div>	<!-- / Flip-->			
			</div>			
	    </section>
		
	    <!-- Services Section -->
	    <section id="services" class="bg-dark-blue">
	        <div class="container">
	            <div class="row">
	                <div class="col-lg-12 text-center">
	                    <h2 class="section-heading">What We Do.</h2>
	                    <h3 class="section-subheading"></h3>
	                </div>
	            </div>
	            <div class="row text-center">
	                <div class="col-md-4">
	                    <span class="fa-stack fa-4x">
	                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
	                        <i class="fa fa-cubes fa-stack-1x fa-inverse"></i>
	                    </span>
	                    <h4 class="service-heading">Structure</h4>
	                    <p class="">The most important part of your r&#233;sum&#233; is the content. That's why we handle the structure so that you can concentrate on making your r&#233;sum&#233; perfect. Need to add something? No worries. Edit and save knowing that we will take care of the rest.</p>
	                </div>
	                <div class="col-md-4">
	                    {# <span class="fa-stack fa-4x"> #}
 {# 	                        <i class="fa fa-circle fa-stack-2x text-primary"></i> #}
 {# 	                        <i class="fa fa-desktop fa-xsm fa-stack-1x fa-inverse pull-left"></i> #}
 {# 							<i class="fa fa-mobile fa-sm fa-stack-1x fa-inverse pull-right"></i> #}
 {# 	                    </span> #}
	                    <span class="fa-stack fa-4x">
							<i class="fa fa-circle fa-stack-2x text-primary"></i>
 	                        <i class="fa fa-cloud fa-stack-1x fa-inverse"></i>
 	                        <i id="lightning-bolt" class="fa fa-bolt fa-xsm fa-stack-1x  text-primary pull-left"></i>
 	                    </span>
	                    <h4 class="service-heading">Intuitive Design</h4>
	                    <p class="">Your resume is hosted on the cloud so you can update, edit, or print anytime, anywhere, from any device. Edit your resume in real time so that you know exactly how it will look to employers.</p>
	                </div>
	                <div class="col-md-4">
	                    <span class="fa-stack fa-4x">
	                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
	                        <i class="fa fa-lock fa-stack-1x fa-inverse"></i>
	                    </span>
	                    <h4 class="service-heading">Privacy</h4>
	                    <p class="">With other free services, you're the product that's being bought and sold. Our intent is to provide an easier way for you to improve your r&#233;sum&#233; and hopefully obtain a job or career. NOT to data mine or steal your information for unethical companies to feed you advertisements every second of every day.</p>
	                </div>

	                <div class="col-md-4">
	                    <span class="fa-stack fa-4x">
	                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
	                        <i class="fa fa-usd fa-stack-1x fa-inverse"></i>
							
	                    </span>
	                    <h4 class="service-heading">Our Price</h4>
	                    <p class="">R&#233;sify is, and will remain, a free service. Everything we do is for you.</p>
	                </div>
	                <div class="col-md-4">
	                    <span class="fa-stack fa-4x">
	                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
	                        <i class="fa fa-file-pdf-o  fa-stack-1x fa-inverse"></i>
	                    </span>
	                    <h4 class="service-heading">Export to PDF</h4>
	                    <p class="">You can export your r&#233;sum&#233; to PDF format or even send a copy as an attachment via our website from any device. It's that easy.</p>
	                </div>
	                <div class="col-md-4">
	                    <span class="fa-stack fa-4x">
	                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
	                        <i class="fa fa-briefcase fa-stack-1x fa-inverse"></i>
	                    </span>
	                    <h4 class="service-heading">Careers</h4>
	                    <p class="">Businesses are looking for you! By using our advanced r&#233;sum&#233; search employers can find the professional they have been looking for with ease.</p>
	                </div>
	            </div>
	        </div>
	    </section>

	    <!-- Sponsored by Aside -->
	    {# <aside class="clients"> #}
	    {#     <div class="container"> #}
	    {#         <div class="row"> #}
	    {#             <div class="col-md-3 col-sm-6"> #}
	    {#                 <a href="#"> #}
	    {#                     <img src="img/logos/envato.jpg" class="img-responsive img-centered" alt=""> #}
	    {#                 </a> #}
	    {#             </div> #}
	    {#             <div class="col-md-3 col-sm-6"> #}
	    {#                 <a href="#"> #}
	    {#                     <img src="img/logos/designmodo.jpg" class="img-responsive img-centered" alt=""> #}
	    {#                 </a> #}
	    {#             </div> #}
	    {#             <div class="col-md-3 col-sm-6"> #}
	    {#                 <a href="#"> #}
	    {#                     <img src="img/logos/themeforest.jpg" class="img-responsive img-centered" alt=""> #}
	    {#                 </a> #}
	    {#             </div> #}
	    {#             <div class="col-md-3 col-sm-6"> #}
	    {#                 <a href="#"> #}
	    {#                     <img src="img/logos/creative-market.jpg" class="img-responsive img-centered" alt=""> #}
	    {#                 </a> #}
	    {#             </div> #}
	    {#         </div> #}
	    {#     </div> #}
	    {# </aside> #}

	    <footer>
	        <div class="container">
	            <div class="row">
	                <div class="col-md-4">
	                    <span class="copyright">Copyright &copy; R&#233;sify 2014</span>
	                </div>
	                <div class="col-md-4">
	                    <ul class="list-inline social-buttons">
	                        <li><a href="#"><i class="fa fa-twitter"></i></a>
	                        </li>
	                        <li><a href="#"><i class="fa fa-facebook"></i></a>
	                        </li>
	                        <li><a href="#"><i class="fa fa-linkedin"></i></a>
	                        </li>
	                    </ul>
	                </div>
	                <div class="col-md-4">
	                    <ul class="list-inline quicklinks">
	                        <li><a href="#">Privacy Policy</a>
	                        </li>
	                        <li><a href="#">Terms of Use</a>
	                        </li>
	                    </ul>
	                </div>
	            </div>
	        </div>
	    </footer>
	{# <div id="main"> #}
	{# 	<div class="background"></div> #}
	{# 		<div class="homepage"> #}
	{# 			<div class="header"> #}
	{# 				R&#233;sify #}
	{# 				<h1 style="font-size:20px; -webkit-text-stroke: 1px black; #}
	{# 				   color: white;"> BE RECOGNIZED, GET HIRED </h1> #}
	{# 			</div> #}
	{#  #}
	{# 			<div id="login-block" class="field-block"> #}
	{# 				<form action="{% url 'resify_login' %}" name="login" id="login" method="post" accept-charset="utf-8"> #}
	{# 					<div class="input-group email-input"> #}
	{# 						<span class="input-group-addon"><span class="entypo-mail icon"></span></span> #}
	{# 						<input name="username" type="text" class="form-control" type="email" id="email" placeholder="Email Address" required/> #}
	{# 					</div> #}
	{# 					<div class="input-group password-input"> #}
	{# 						<span class="input-group-addon"><span class="entypo-lock icon"></span>&nbsp</span> #}
	{# 						<input name="password" class="form-control" placeholder="Password" type="password" id="password" required /> #}
	{# 						<span class="input-group-addon addon-right" id="forgot-pass"><span id="recover"  class="button entypo-help icon"></span>&nbsp</span> #}
	{#  #}
	{# 					</div> #}
	{# 					{% csrf_token %} #}
	{# 					<div class="field-block"> #}
	{# 						<a class="button" id="register">Register</a> #}
	{# 						<button id="login" class="login">Login</button> #}
	{# 					</div> #}
	{# 				</form> #}
	{# 			</div><!-- /login fields --> #}
	{#  #}
	{#  #}
	{# 			<div id="register-block" class="field-block"> #}
	{# 				<form action="{% url 'register' %}" name="register" id="register" method="post" accept-charset="utf-8"> #}
	{# 					{% csrf_token %} #}
	{# 					<input type="hidden" name="type" id="type" value='Register'> #}
	{#  #}
	{# 					<div class="input-group name-input"> #}
	{# 						<span class="input-group-addon"><span class="entypo-user icon"></span></span> #}
	{# 						<!-- FIRST NAME --> #}
	{# 						<input class="form-control half-control" name="first_name" placeholder="First Name" type="text" id="first" name="first_name" pattern=".{1,35}" maxlength="35" required /> #}
	{#  #}
	{# 						<!-- LAST NAME --> #}
	{# 						<input style="padding-left:15px" class="form-control half-control" name="last_name" placeholder="Last Name" type="text" id="last" name="last_name" pattern=".{1,35}" maxlength="35" required /> #}
	{#  #}
	{# 					</div> <!-- /FullName group --> #}
	{#  #}
	{# 					<div class="input-group email-input"> #}
	{# 						<span class="input-group-addon"><span class="entypo-mail icon"></span></span> #}
	{# 						<input class="form-control" name="email" placeholder="Email" type="email" id="email" name="email" maxlength="255" required /> #}
	{# 					</div> <!-- /EMAIL --> #}
	{#  #}
	{# 					<div class="input-group password-input"> #}
	{# 						<span class="input-group-addon"><span class="entypo-lock-open icon">&nbsp</span></span> #}
	{# 						<input class="form-control" name="password" placeholder="Password" type="password" id="password" pattern=".{6,}" required autocomplete="off"/> #}
	{# 					</div> <!-- FIRST PASSWORD --> #}
	{#  #}
	{# 					<div class="input-group password-input"> #}
	{# 						<span class="input-group-addon"><span class="entypo-lock icon">&nbsp</span></span> #}
	{# 						<input class="form-control" name="password2" placeholder="Password repeat" type="password" id="passwordRepeat" pattern=".{6,}" required autocomplete="off" /> #}
	{# 					</div> <!-- SECOND PASSWORD --> #}
	{#  #}
	{# 					<div class="input-group checkbox-input"> #}
	{# 						<div class="checkbox"> #}
	{#  #}
	{# 							<input type="checkbox" id="termsAgree" name="accept_terms"/> #}
	{# 							<label for="termsAgree" class="tick"><span>I agree with <a href="#">Terms &amp; Conditions</a></span></label> #}
	{# 						</div> #}
	{# 					</div> <!-- CHECKBOX --> #}
	{#  #}
	{# 					<!-- Send button --> #}
	{# 					<a class="button" id="login">Back</a> #}
	{# 					<button id="register-submit" class="">Register</button> #}
	{# 				</form> #}
	{# 			</div><!-- /register fields --> #}
	{#  #}
	{#  #}
	{# 			<!-- RECOVER FIELDS --> #}
	{# 			<div id="recover-block" class="field-block"> #}
	{# 				<form action="{% static 'SystemFiles/Validate.php' %}" name="reset" id="reset" method="post"> #}
	{# 					<div class="input-group email-input"> #}
	{# 						<span class="input-group-addon"><span class="entypo-mail icon"></span></span> #}
	{# 						<input class="form-control"  name="email" placeholder="Your email" type="email" id="email" required/> #}
	{# 					</div> #}
	{# 					<!-- Email input --> #}
	{# 					<p class="small"><span class="entypo-clock"></span>Check your email in about 10 minutes.</p> #}
	{# 					{% csrf_token %} #}
	{# 					<div class="field-block"> #}
	{# 						<a class="button" id="login">Back</a> #}
	{# 						<button id="login" class="login">Send Email</button> #}
	{# 					</div> #}
	{# 				</form> #}
	{# 			</div><!-- RECOVER FIELDS--> #}
	{#  #}
	{#  #}
	{# 			<!-- Modal --> #}
	{# 			<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"> #}
	{# 			  <div class="modal-dialog"> #}
	{# 			    <div class="modal-content"> #}
	{# 			      <div class="modal-header"> #}
	{# 			        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button> #}
	{# 			        <h4 class="modal-title" id="myModalLabel">Modal title</h4> #}
	{# 			      </div> #}
	{# 			      <div class="modal-body"> #}
	{# 			        ... #}
	{# 			      </div> #}
	{# 			      <div class="modal-footer"> #}
	{# 			        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button> #}
	{# 			        <button type="button" class="btn btn-primary">Save changes</button> #}
	{# 			      </div> #}
	{# 			    </div> #}
	{# 			  </div> #}
	{# 			</div> #}
	{# 		</div> #}<!-- /homepage -->			

		<!-- *************************** -->
		<!-- END LOGIN FORM HERE            -->
		<!-- *************************** -->
	{# </main> #}
{# 	<footer> #}
{# 	</footer> #}
	</body>
	<script src="{% static 'js/main.js' %}"></script>
	<script>
	$(document).ready(function(){
		$("header").vide({
		    webm: '../../static/video/interview',
		    poster: '../../static/video/interview.jpg',
		}, {
			loop: false,
			posterType: "jpg"
		});
	
		$('.navbar-collapse ul li a').click(function() {
		    $('.navbar-toggle:visible').click();
		});		
	
	
	});
	</script>
</html>
