{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block heading %}
	<div class="header">
		Recover
	</div>
{% endblock %}

{% block content %}
		<form action="{% url 'recover' %}" name="login" id="login" method="post" accept-charset="utf-8">
			
				<input name="username" type="text" class="form-control" type="email" id="email" placeholder="Email Address" required autofocus/>

			{% csrf_token %}
			<div class="field-block">
				<button type="submit" id="login" class="login">Send Email</button>
			</div>
		</form>
		<div class="field-block">
			<a href="register" class="button no-border small-text" id="register">Need an account?</a>
		</div>
{% endblock %}