{% extends "base_dashboard.html" %}
{%block setup %}
<div class="container-fluid">
	
	{% url "resify_home" as action_url %}
	{% if form.errors %}
		
	{% endif %}
	{{ form.non_field_errors }}
	<form id="msform" action="{{action_url}}" method="post" accept-charset="utf-8">
		<div style="color:white;" id="autosaving">
			<i class="fa fa-spinner fa-spin"></i>
			Auto Saving
		</div>
		{% csrf_token %}
		<div class="tutorial-wrapper">
			<ul id="progressbar">
		  	  	<li class="point active"><i class="fa fa-user fa-sm" style="line-height: 2;"></i></li>
		  		<li class="point"><i class="fa fa-briefcase fa-sm" style="line-height: 2;"></i></li>
		  		<li class="point"><i class="fa fa-graduation-cap fa-sm" style="line-height: 2;"></i></li>
				<li class="point"><i class="fa fa-lightbulb-o fa-sm" style="line-height: 2;"></i></li>
		  		<li class="point"><i class="fa fa-phone fa-sm" style="line-height: 2;"></i></li>
				<li class="point"><i class="fa fa-file-image-o" style="line-height: 2;"></i></li>
			</ul>
		</div>
	
		<fieldset id="fieldset0" class="field-active">
			<h1 class="">Lets get started</h1>
			<h2 class="fs-title">Personal Details</h2>
			<h3 class="fs-subtitle">We will never sell it</h3>
			{{ profile_form.handle.errors }}
			<div class="input-group input-group-sm">
				<span id="handle_addon" class="input-group-addon" style="height:20px;">@</span>
				<input type="text" id="handle" maxlength="25" name="handle" placeholder="Personal URL" style="margin-bottom:0px; border-left:none; border-top-right-radius: 3px; border-bottom-right-radius: 3px; border-bottom-left-radius: 0px; border-top-left-radius: 0px;"/>
			</div>
			<span class="help-block url"></span>
			{{ profile_form.profession.errors }}
			<input type="text" maxlength="50" name="profession" placeholder="Profession/Field Of Study"/>
			{{ profile_form.statement.errors }}
			<textarea class="form-control" name="statement" placeholder="Personal Statement (Optional)" rows="10" style="resize:none;"></textarea>
			<input type="button" id="next" name="next" class="next action-button" value="Next" />
			<br>
			{# <a href="/setup/skip">Skip Setup</a> #}
			<fb:login-button size="large" class="input-box" id="facebookLogin" scope="public_profile,email" onlogin="checkLoginState();">
			Easy Setup!
			</fb:login-button>
			<div id="facebookEvent"></div>
		</fieldset>

		<fieldset id="fieldset1">
			<h2 class="fs-title">Experience</h2>
			<h3 class="fs-subtitle">Most current work experience</h3>
			{{ job_form.position.errors }}
			<input type="text" maxlength="50" name="position" placeholder="Position" />
			{{ job_form.company.errors }}
			<input type="text" maxlength="50" name="company" placeholder="Company" />
			<div class="form-inline">
					{{ job_form.job_from_date.errors }}
			        <select class="form-control to-from-field" name="job_from_date" placeholder="From: ">
						<option selected="" disabled="disabled">From</option>
						{% for x in year_choices %}
						<option value="{{x}}">{{x}}</option>
						{% endfor %}
					<select/>
					{{ job_form.job_to_date.errors }}
			        <select class="form-control to-from-field" name="job_to_date" placeholder="To: "> 
						<option selected="" disabled="disabled">To</option>
						<option value="PRESENT">Present</option>
						{% for x in year_choices %}
						<option value="{{x}}">{{x}}</option>
						{% endfor %}
					</select>
					<br>
			</div>
			<br>
			{{ job_form.job_about.errors }}
			<textarea class="form-control" name="job_about" placeholder="Description" rows="10" style="resize:none;"></textarea>
			<input type="button" name="previous" id="back" class="previous action-button" value="Previous" />
			<input type="button" id="next" name="next" class="next action-button" value="Next" />
		</fieldset>

		<fieldset id="fieldset2">
			<h2 class="fs-title">Education</h2>
			<h3 class="fs-subtitle">Current or most recent</h3>
			{{ education_form.status.errors }}
	        <select class="form-control" name="status" placeholder="">
				<option selected="" disabled="disabled">Status</option>
				<option value="Graduated">Graduated</option>
				<option value="Attending">Attending</option>
				<option value="">Other</option>
			<select/>
			<br>
			{{ education_form.school.errors }}
			<input type="text" maxlength="50" name="school" placeholder="School/University" />
			{{ education_form.degree.errors }}
			<input type="text" maxlength="100" name="degree" placeholder="Degree" />
			<div class="form-inline">
				{{ education_form.job_from_date.errors }}
			        <select class="form-control to-from-field" name="Education_from_date" placeholder="From: ">
						<option selected="" disabled="disabled">From</option>
						{% for x in year_choices %}
						<option value="{{x}}">{{x}}</option>
						{% endfor %}
					<select/>
					{{ education_form.job_to_date.errors }}
			        <select class="form-control to-from-field" name="Education_to_date" placeholder="To: ">
						<option selected="" disabled="disabled">To</option>
						<option value="PRESENT">Present</option>
						{% for x in year_choices %}
						<option value="{{x}}">{{x}}</option>
						{% endfor %}
					</select>
					<br>
			</div>
			<br>
			<input type="button" name="previous" id="back" class="previous action-button" value="Previous" />
			<input type="button" id="next" name="next" class="next action-button" value="Next" />
		</fieldset>
	
		<fieldset id="fieldset3">
			<h2 class="fs-title">Your Accomplishments</h2>
			<h3 class="fs-subtitle">Highest valued accomplishment</h3>
			{{ accomplishment_form.title.errors }}
			<input type="text" maxlength="50" name="title" placeholder="Title" />
			<div class="form-inline">
				{{ accomplishment_form.Accomplishment_from_date.errors }}
			        <select class="form-control to-from-field" name="Accomplishment_from_date" placeholder="From: ">
						<option selected="" disabled="disabled">From</option>
						{% for x in year_choices %}
						<option value="{{x}}">{{x}}</option>
						{% endfor %}
					<select/>
					{{ accomplishment_form.Accomplishment_to_date.errors }}
			        <select class="form-control to-from-field" name="Accomplishment_to_date" placeholder="To: ">
						<option selected="" disabled="disabled">To</option>
						<option value="PRESENT">Present</option>
						{% for x in year_choices %}
						<option value="{{x}}">{{x}}</option>
						{% endfor %}
					</select>
					<br>
			</div>
			<br>
			{{ accomplishment_form.Accomplishments_about.errors }}
			<textarea class="form-control" name="Accomplishments_about" placeholder="Description" rows="10" style="resize:none;"></textarea>
			<input type="button" name="previous" id="back" class="previous action-button" value="Previous" />
			<input type="button" id="next" name="next" class="next action-button" value="Next" />
		</fieldset>

		<fieldset id="fieldset4">
			<h2 class="fs-title">Contact Details</h2>
			<h3 class="fs-subtitle"></h3>
			{{ profile_form.phone_number.errors }}
			<input type="tel" maxlength="30" name="phone_number" placeholder="Phone Number" />
			<h3 class="fs-subtitle"></h3>
			<h3 class="fs-subtitle">Your presence on the social network</h3>
			{{ social_form.twitter.errors }}
			<input type="text" name="twitter" placeholder="Twitter" />
			{{ social_form.facebook.errors }}
			<input type="text" name="facebook" placeholder="Facebook" />
			{{ social_form.gplus.errors }}
			<input type="text" name="gplus" placeholder="Google Plus" />
			{{ social_form.linkedIn.errors }}
			<input type="text" name="linkedIn" placeholder="LinkedIn" />
			<input type="button" name="previous" id="back" class="previous action-button" value="Previous" />
			<input type="button" id="next" name="next" class="next action-button" value="Next" />
		</fieldset>
		
		<fieldset id="fieldset5">
			<h2 class="fs-title">Choose a template</h2>
			<h3 class="fs-subtitle">Always many more to come</h3>
			<div class="grid">
				{{ template_form.template_name.errors }}
				<select name="template_name" id="select_template" class="image-picker show-html">
					<option value=""></option>
					{% for template in template_list %}
					
					<option {% if forloop.first %}selected {% endif %}data-img-src="../static/img/templateIcons/{{template}}.jpg" value="{{template}}">{{template.readable_name}}</option>
					
					{% endfor %}
				</select>
			</div>
			
			<input type="button" name="previous" id="back" class="previous action-button" value="Previous" />
			<input type="submit" id="forms_delete_save_button" class="submit action-button" value="Submit" />
		</fieldset>
	</form>
</div>
<script>
	$( document ).ready(function() {
		$("#autosaving").hide();
	
		$('#msform').sayt({'autosave': false, 'autorecover': true, 'days': 3});
	});
	/*
	 * On change save with spinner
	 */
	$( "#msform" ).change(function() {
		function show_saving(t){
		      $("#autosaving").show();
			  window.setTimeout( hide_saving, t );
		};
		function hide_saving(){
		      $("#autosaving").hide();
		};
		$('#msform').sayt({'savenow': true});
		show_saving(1000);
		return false;
	});

	/*
	 * To erase a forms cookie
	 */
	$('#forms_delete_save_button').click(function()
	{
		if(checkHandle() == 1){
			$('#handle').css("color",'red');
			alert("The URL you selected is already in use.")
			$('.fa-user').click();
			return false;
		}
		if( !$('#select_template').val() ) {
			alert("Please select a template!")
			return false;
		}
		else{
			$('#msform').sayt({'erase': true});
		}	
	});
	
	/*
	 * On Change of Handle
	 */
	
	$("#handle").change(function() {
		checkHandle();
	});

	function checkHandle(flag) {
		var handle = slugify($('#handle').val());
		handle=handle.replace(/\s/g,''); 
		
		$.ajax({
				async : false,
		        url : "/check_handle", // the endpoint
		        type : "POST", // http method
		        data : {
					handle : handle,
					'csrfmiddlewaretoken': '{{csrf_token}}'
				},
		        // handle a successful response
		        success : function(json) {
					if(json == 0){
						$('#handle_addon').css("color",'green');
						flag=0;
						//Success: 0
					}else{
						$('#handle_addon').css("color",'red');
						flag=1;
						//Failed: 1
					}
		        }// ,
// 		 	    // handle a non-successful response
// 		        error : function(xhr,errmsg,err) {
// 					alert("failed");
// 		            console.log(xhr.status + ": " + xhr.responseText);// provide a bit more info about the error to the console
// 		        }
		});
		return flag;
	};
	
// This is called with the results from from FB.getLoginStatus().
  function statusChangeCallback(response) {
    
    if (response.status === 'connected') {
		FB.login(function(response) {
		   // handle the response
		 }, {
		   scope: 'user_education_history,user_about_me,user_location,user_work_history', 
		   return_scopes: true
		 });
		 testAPI();

    } else if (response.status === 'not_authorized') {
      // The person is logged into Facebook, but not your app.
      document.getElementById('status').innerHTML = 'Please log ' +
        'into this app.';
    } else {
      // The person is not logged into Facebook, so we're not sure if
      // they are logged into this app or not.
      document.getElementById('status').innerHTML = 'Please log ' +
        'into Facebook.';
    }
  }

  // This function is called when someone finishes with the Login
  // Button.  See the onlogin handler attached to it in the sample
  // code below.
  function checkLoginState() {
    FB.getLoginStatus(function(response) {
      statusChangeCallback(response);
    });
  }

  window.fbAsyncInit = function() {
	  FB.init({
	    appId      : '1551034371776291',
	    cookie     : true,  // enable cookies to allow the server to access 
	                        // the session
	    xfbml      : true,  // parse social plugins on this page
	    version    : 'v2.2' // use version 2.1
	  });
	  // FB.getLoginStatus(function(response) {
	  //   statusChangeCallback(response);
	  // });
  };

  // Load the SDK asynchronously
  (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));

  // Here we run a very simple test of the Graph API after login is
  // successful.  See statusChangeCallback() for when this call is made.
  function testAPI() {
    document.getElementById('facebookEvent').innerHTML =
        'loading...';
		$(".fb_iframe_widget").hide();
    FB.api('/me?field=work', function(response) {
		var d = new Date();
		var currentYear = d.getFullYear();
		var createHandle = response.first_name+response.id.substring(12, response.id.length);
		$("input[name='handle']").val(createHandle);
		$("input[name='handle']").trigger('keyup');
		$("input[name='handle']").trigger( "change" );
		$("textarea[name='statement']").val(response.bio);
		$("input[name='profession']").val(response.work[0].position.name);
		$("input[name='position']").val(response.work[0].position.name);
		$("input[name='company']").val(response.work[0].employer.name);
		$("textarea[name='job_about']").val(response.work[0].description);
		$("select[name='job_from_date']").val(response.work[0].start_date.split('-')[0]);
		//if no "end_date" then make present
		if(!response.work[0].end_date){
			$("select[name='job_to_date']").val('PRESENT');
		}
		else{
			$("select[name='job_to_date']").val(response.work[0].end_date.split('-')[0]);
		}
		
		$("input[name='school']").val(response.education[response.education.length-1].school.name);
		if(!response.education[response.education.length-1].concentration){
			$("input[name='degree']").val(response.education[response.education.length-1].concentration[0].name);
		}
		else{
			$("input[name='degree']").val(response.education[response.education.length-1].concentration[0].name);
		}
		
		if(currentYear > response.education[response.education.length-1].year.name){
			$("select[name='status']").val("Graduated");
			$("Education_to_date").val(response.education[response.education.length-1].year.name);
			$("Education_from_date").val(response.education[response.education.length-1].year.name - 4);
		}
		if(currentYear <= response.education[response.education.length-1].year.name){
			$("select[name='status']").val("Attending");
			$("select[name='Education_to_date']").val("PRESENT");
			$("select[name='Education_from_date']").val( response.education[response.education.length-1].year.name - 4 );
		}
		
		$("input[name='facebook']").val(response.link);		
   	 	document.getElementById('facebookEvent').innerHTML =
        '<i class="fa fa-bell-o"></i> Some information still needs attention!';
    });
	
  }
	
</script>
{%endblock%}