{% load staticfiles %}
			<!-- MENU -->
			<div class="kappa-sidebar-menu">
				<div class="sidebar-menu-trigger"><i class="fa fa-th-list"></i></div>
				<div class="sidebar-menu">
					<div class="sidebar-menu-user">
						<a class="navbar-brand" href="#"><font id="logo">R&#233;sify</font></a>
						<div class="clear"></div>
						</div>
						<div class="clear"></div>
						<ul>
							<li><a href="#"><i class="fa fa-home"></i>Home</a></li>
							<li><a href="#"><i class="fa fa-briefcase"></i>Resume</a></li>
							<li><a href="#"><i class="fa fa-search"></i>Careers</a></li>
							<li><a href="#"><i class="fa fa-globe"></i>Browse</a></li>
							<li><a href="#"><i class="fa fa-wrench"></i>Tools<i class="fa fa-sort-asc icn-right"></i></a>
								<ul class="drop-down">
									<li><a href="#"><i class="fa fa-cogs"></i>Tips</a></li>
									<li><a href="#"><i class="fa fa-rocket"></i>Deployer</a></li>
									<li><a href="#"><i class="fa fa-tachometer"></i>Performance</a></li>
								</ul>
							</li>
							<li><a class="chatter" href="#"><i class="fa fa-comment-o"></i>Contact</a></li> <!--fa-comment-o -->
						</ul>
		
						<div class="sidebar-menu-social">
							<div class="sidebar-menu-social-container">
								<a href="#"><i class="fa fa-facebook"></i></a>
								<a href="#"><i class="fa fa-twitter"></i></a>
								<a href="#"><i class="fa fa-google-plus"></i></a>
							</div>	
						</div>
					</div>
				</div>
			</div>
			<!-- END MENU -->