/*basic reset*/

body {
	height: 100%;
	/*Image only BG fallback*/
	background: url('../img/book-bg.jpg') no-repeat center center fixed;
	/*background = gradient + image pattern combo*/
   	 no-repeat center center fixed; 
     -webkit-background-size: cover;
     -moz-background-size: cover;
     -o-background-size: cover;
     background-size: cover;
}



li.point {
  width: 2em;
  height: 2em;
  text-align: center;
  line-height: 2em;
  border-radius: 4em;
  background: dodgerblue;
  margin: 0 1em;
  display: inline-block;
  color: white;
  position: relative;
}

li.point::before{
  content: '';
  position: absolute;
  top: .9em;
  left: -4em;
  width: 4em;
  height: .2em;
  background: dodgerblue;
  z-index: -1;
}


li.point:first-child::before {
  display: none;
}

.active {
  background: dodgerblue;
  
}

.active ~ li.point {
  background: lightblue;
}

.active ~ li.point::before {
  background: lightblue;
}


/*form styles*/
#msform {
	width: 380px;
	margin: 50px 0;
	padding-bottom:50px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	position: relative;
}
#msform fieldset {
	background: white;
	border: 0 none;
	border-radius: 3px;
	box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
	padding: 20px 30px;
	box-sizing: border-box;
	width: 80%;
	margin: 0 10%;
	margin-bottom: 50px;
	/*stacking fieldsets above each other*/
	position: absolute;
}
/*Hide all except first fieldset*/
#msform fieldset:not(:first-of-type) {
	display: none;
}
/*inputs*/
#msform input, #msform textarea {
	padding: 15px;
	border: 1px solid #ccc;
	border-radius: 3px;
	margin-bottom: 10px;
	width: 100%;
	box-sizing: border-box;
	font-family: montserrat;
	color: #2C3E50;
	font-size: 13px;
}
/*buttons*/
#msform .action-button {
	width: 100px;
	background: dodgerblue;
	font-weight: bold;
	color: white;
	border: 0 none;
	border-radius: 1px;
	cursor: pointer;
	padding: 10px 5px;
	margin: 10px 5px;
}
#msform .action-button:hover, #msform .action-button:focus {
	box-shadow: 0 0 0 2px white, 0 0 0 3px #27AE60;
}
#progressbar{
	padding:0px;
}
.field-active{
	z-index:10;
}
/*headings*/
.fs-title {
	font-size: 15px;
	text-transform: uppercase;
	color: #2C3E50;
	margin-bottom: 10px;
}
.fs-subtitle {
	font-weight: normal;
	font-size: 13px;
	color: #666;
	margin-bottom: 20px;
}
.to-from-field{
	width:49%;
	text-indent: 20%;
}

.form-inline .form-control {
	width:49%;
	float: left;
}

.errorlist{
	list-style-type: none;
	padding: 0;
	margin-left: 0;
	color:red;
}

/* Template grid */
/*.grid { overflow: hidden; max-width: 100px;}
.grid #template { float: left;}

.grid #template:hover {border:blue;}

#feedback { font-size: 1.4em; }
#selectable .ui-selecting { background: #FECA40; }
#selectable .ui-selected { background: #F39814; color: white; }
#selectable { list-style-type: none; margin: 0; padding: 0; }
#selectable li { margin: 3px; padding: 0.4em; font-size: 1.4em;}*/



