@import url(http://fonts.googleapis.com/css?family=Lobster); /* Lobster font for headings */
@import url(http://fonts.googleapis.com/css?family=Lato); /* Lato font for the content */

//Fonts
$logo-font-stack: 'Lobster', cursive;
$main-font-stack: 'Lato', Arial, Helvetica, sans-serif;
$alt-font-stack: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;

//Colors
$cyan-blue: #245a7a;
$deep-space-gray : #222222;
$color-logo-facebook: rgb(59, 89, 152);
$color-logo-twitter: rgb(0, 172, 237);
$color-logo-linkedin: rgb(0, 123, 182);
$color-logo-google: rgb(211, 72, 54);